@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url(./css/header.css);
@import url(./css/productDetails.css);
@import url(./css/relatedProducts.css);
@import url(./css/footer.css);

:root {
  --primary: black;
  --secondary: #6c6c6c;
  --footer: #cfcfcf;
  --bg: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  padding-block: 1rem;

  &.btn-dark {
    background-color: var(--primary);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--bg);
    }
  }
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.des {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
}
